.grid {
    /* repeat("+Math.floor( temp )+",128px);"); */
    display: grid;
    /*grid-template-columns: 128px 128px;*/
    /*grid-template-rows: 128px 128px;*/
    /*grid-auto-flow: column;*/
    /*grid-auto-columns: gridobj.width();*/
    /*grid-auto-rows: gridobj.height();*/
}

.grid-area {
    border: 1px solid black;
    margin: 1px;
    padding: 4px;
    overflow:hidden;
}

.grid-obj {
    border: 1px solid black;
    border-radius: 3px;
}
