.sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0px;
}

.view {
    resize: both;
    overflow: hidden;
    border: solid blue;
}

.tabular {
    height: 100%;
    background-color: grey;
}

#header.tabular rect{
    fill: lightgrey;
    stroke: grey;
}

#header.tabular text {
    fill: black;
}

.tabular .row:nth-child(2n) rect{
    fill: lightgrey;
}

.tabular .cell rect{
    fill: white;
    stroke: grey;
}

.tabular .row:hover {
    fill: blue;
    cursor: pointer;
}

